GoogleKickstart/.vs/*
GoogleKickstart/GoogleKickstartF/obj/*
GoogleKickstart/GoogleKickstartF/bin/*
GoogleKickstart/GoogleKickstartG/obj/*
GoogleKickstart/GoogleKickstartG/bin/*
GoogleKickstart/KickstartRunner/obj/*
GoogleKickstart/KickstartRunner/bin/*